swagger: "2.0"
info:
  description: "API for innsending av søknad om omsorgspenger."
  version: "1.0.0"
  title: "Omsorgspenger API"
  termsOfService: "http://swagger.io/terms/"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

host: "omsorgsorgspengesoknad-api-q.nav.no"
basePath: "/"
tags:
- name: "Søknad"
  description: "Innsending av søknad om omsorgspenger"
- name: "Søker"
  description: "Informasjon om søker (innlogget bruker)"
- name: "Barn"
  description: "Informasjon om søkers barn (innlogget bruker)"

schemes:
- "https"
- "http"
paths:
  /soknad:
    post:
      tags:
      - "Søknad"
      summary: "Send inn en søknad."
      description: ""
      operationId: "addPet"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "En søknadsobjekt for innsending"
        required: true
        schema:
          $ref: "#/definitions/Soknad"
      responses:
        405:
          description: "Invalid input"
      security:
        - selbetjening-idtoken: []
        
  
  /soker:
    get:
      tags:
      - "Søker"
      summary: "Returnerer innlogget søkers opplysninger"
      description: "Returnerer innlogget søkers opplysninger"
      operationId: "hentSøker"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            additionalProperties:
              type: "integer"
              format: "int32"
      security:
        - selbetjening-idtoken: []
  
  /barn:
    get:
      tags:
      - "Barn"
      summary: "Hent barn"
      description: "Hent barn for innlogget søker."
      operationId: "hentBarn"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/Barn"
      responses:
        default:
          description: "successful operation"
      security:
        - selbetjening-idtoken: []

securityDefinitions:
  selbetjening-idtoken:
    type: "apiKey"
    name: "Authorization"
    in: "header"
      
definitions:
  Soknad:
    type: "object"
    properties:
      new_version:
        type: "boolean"
        default: "false"
      sprak:
        type: "string"
        example: "nb"
      kronisk_eller_funksjonshemming:
        type: "boolean"
        example: false
  
  Søker:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
  Barn:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"