swagger: "2.0"
info:
  description: "API for innsending av søknad om omsorgspenger."
  version: "1.0.0"
  title: "Omsorgspenger API"
  termsOfService: "http://swagger.io/terms/"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

host: "omsorgsorgspengesoknad-api-q.nav.no"
basePath: "/"
tags:
- name: "Søknad"
  description: "Innsending av søknad om omsorgspenger"
- name: "Søker"
  description: "Informasjon om søker (innlogget bruker)"
- name: "Barn"
  description: "Informasjon om søkers barn (innlogget bruker)"

schemes:
- "https"
- "http"
paths:
  /soknad:
    post:
      tags:
      - "Søknad"
      summary: "Send inn en søknad."
      description: ""
      operationId: "sendSoknad"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "søknad"
        description: "En søknadsobjekt for innsending"
        required: true
        schema:
          $ref: "#/definitions/Soknad"
      responses:
        204:
          description: "No Content"
        400:
          $ref: "#/definitions/OmsorgspengerAPIError"
        401:
          $ref: "#/definitions/OmsorgspengerAPIError"
        403:
          $ref: "#/definitions/OmsorgspengerAPIError"
        500:
          $ref: "#/definitions/OmsorgspengerAPIError"
      security:
        - selbetjening-idtoken: []
        
  /soker:
    get:
      tags:
      - "Søker"
      summary: "Returnerer innlogget søkers opplysninger"
      description: "Returnerer innlogget søkers opplysninger"
      operationId: "hentSøker"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            additionalProperties:
              type: "integer"
              format: "int32"
      security:
        - selbetjening-idtoken: []
  
  /barn:
    get:
      tags:
      - "Barn"
      summary: "Hent barn"
      description: "Hent barn for innlogget søker."
      operationId: "hentBarn"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/Barn"
      responses:
        default:
          description: "successful operation"
      security:
        - selbetjening-idtoken: []

securityDefinitions:
  selbetjening-idtoken:
    type: "apiKey"
    name: "Authorization"
    in: "header"

definitions:
  Soknad:
    type: "object"
    required:
      - new_version
      - sprak
      - kronisk_eller_funksjonshemming
      - er_yrkesaktiv
      - barn
      - deler_omsorg
      - samme_adresse
      - medlemskap
      - legeerklaring
      - samvarsavtale
      - har_bekreftet_opplysninger
      - har_forstatt_rettigheter_og_plikter
    properties:
      new_version:
        type: "boolean"
        default: "false"
      sprak:
        type: "string"
        example: "nb"
      kronisk_eller_funksjonshemming:
        type: "boolean"
        example: false
      er_yrkesaktiv: 
        type: "boolean"
        example: true
      barn:
          $ref: "#/definitions/Barn"
      deler_omsorg:
        type: "boolean"
        example: true
      samme_adresse:
        type: "boolean"
        example: false
      medlemskap:
        $ref: "#/definitions/Medlemskap"
      legeerklaring:
        type: array
        items:
          type: "string"
          format: "hostname"
          example: "https://omsorgspenger-api/vedlegg/da61256a-51b1-41b7-b9b6-e5ce1705fae9"
      samvarsavtale:
        type: array
        items:
          type: "string"
          format: "hostname"
          example: "https://omsorgspenger-api/vedlegg/da61256a-51b1-41b7-b9b6-e5ce1705fae9"
      har_bekreftet_opplysninger:
        type: "boolean"
        example: true
      har_forstatt_rettigheter_og_plikter:
        type: "boolean"
  
  Søker:
    type: "object"
    required:
      - fornavn
      - etternavn
      - fødselsdato
      - aktør_id
    properties:
      fornavn:
        type: "string"
      mellomnavn:
        type: "string"
      etternavn:
        type: "string"
      fødselsdato:
        type: "string"
        format: "date"
        pattern: "YYYY-MM-DD"
        example: "1993-02-23"
      aktør_id:
        type: "string"
  
  Barn:
    type: "object"
    properties:
      navn:
        type: "string"
        example: "Ola Nordmann"
        description: "Full navn"
      fodselsdato:
        type: "string"
        format: "date"
        pattern: "YYYY-MM-DD"
        example: "2013-02-23"
      fodselsnummer:
        type: "string"
        description: "Gyldig norsk fødselsnummer"
      alternativId:
        type: "string"
      aktoerId:
        type: "string"
  
  Medlemskap:
    type: "object"
    properties:
      har_bodd_i_utlandet_siste_12_mnd:
        type: "boolean"
        example: false
      skal_bo_i_utlandet_neste_12_mnd:
        type: "boolean"
        example: false
      fra_og_med:
        type: "string"
        format: "date"
        pattern: "YYYY-MM-DD"
        example: "2020-01-23"
      til_og_med:
        type: "string"
        format: "date"
        pattern: "YYYY-MM-DD"
        example: "2020-01-23"

  ParameterType:
    type: "string"
    enum: [QUERY, PATH, HEADER, ENTITY, FORM]

  Violation:
    type: "object"
    properties:
      parameterName:
        type: "string"
      parameterType:
        $ref: "#/definitions/ParameterType"
      reason:
        type: "string"
      invalidValue:
        type: "string"

  OmsorgspengerAPIError:
    type: "object"
    properties:
      message:
        type: "string"
      status:
        type: "integer"
        format: "int32"
      error:
        type: "string"
      path:
        type: "string"
      violations:
        type: array
        items:
          $ref: "#/definitions/Violation"