<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="q,prod">
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="no.nav" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>
    </springProfile>

    <!-- https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-logging -->
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <logger name="io.netty" level="INFO"/>
        <logger name="no.nav" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>